/*Responsivity Mobile Small to Mobile Large */
.baseBg {
  background-color: var(--background-color-secondary);
}

header {
  background-color: var(--background-color-primary);
  border-bottom-left-radius: 100% 5%;
  border-bottom-right-radius: 100% 5%;
}

header nav {
  width: 100%;
  margin-bottom: 3.2rem;
  padding: 3.2rem 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--base-color-terciary);
  text-decoration: none;
  border-bottom: 3px solid var(--background-color-terciary);

  transition: all 0.2s;
}

.mainTitle {
  margin-inline: auto;
  margin-bottom: -5rem;
  padding: 1.6rem;
  display: grid;
  place-items: center;
  gap: 4rem;
}

.mainTitle h1 {
  text-align: center;
  font-family: var(--font-family-heading-S);
  font-size: var(--font-size-heading-S);
  font-weight: var(--font-weight-heading-S);
  line-height: var(--line-height-heading-S);

  color: var(--base-color-terciary);
}

.mainTitle h1 span {
  font-family: var(--font-family-heading-S);
  font-size: var(--font-size-heading-S);
  font-weight: var(--font-weight-heading-S);
  line-height: var(--line-height-heading-S);

  border-bottom: 3px solid var(--background-color-terciary);
}

.mainButton {
  padding: 1.2rem 2.4rem;
  color: black;
  font-weight: 700;
  background-color: var(--background-color-terciary);
  border: 2px solid var(--background-color-terciary);
  
  transition: all 0.2s;
}

.smartphoneWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.smartphone {
  width: 90%;
  max-width: 300px;
  transform: translateY(50%);
}

/* Responsivity Tablet */
@media(min-width: 768px) {
  header nav {
    padding-inline: 10rem;
  }

  .mainTitle {
    max-width: 60%;
  }

  .mainTitle h1 {
    text-align: center;
    font-family: var(--font-family-heading-M);
    font-size: var(--font-size-heading-M);
    font-weight: var(--font-weight-heading-M);
    line-height: var(--line-height-heading-M);
  
    color: var(--base-color-terciary);
  }
  
  .mainTitle h1 span {
    font-family: var(--font-family-heading-M);
    font-size: var(--font-size-heading-M);
    font-weight: var(--font-weight-heading-M);
    line-height: var(--line-height-heading-M);
  
    border-bottom: 3px solid var(--background-color-terciary);
  }

  .smartphone {
    max-width: 400px;
  }
}

/* Responsivity Laptop Small to Laptop Large */
@media(min-width: 1024px) {
  header nav {
    padding-inline: 10rem;
  }

  header nav a {
    font-size: 2.2rem;
  }

  .mainTitle {
    max-width: 55%;
  }

  .mainTitle h1 {
    text-align: center;
    font-family: var(--font-family-heading-L);
    font-size: var(--font-size-heading-L);
    font-weight: var(--font-weight-heading-L);
    line-height: var(--line-height-heading-L);
  
    color: var(--base-color-terciary);
  }
  
  .mainTitle h1 span {
    font-family: var(--font-family-heading-L);
    font-size: var(--font-size-heading-L);
    font-weight: var(--font-weight-heading-L);
    line-height: var(--line-height-heading-L);
  
    border-bottom: 3px solid var(--background-color-terciary);
  }

  .smartphone {
    max-width: 500px;
  }
}